<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>js键盘</title>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <script>
        // 独立出来，防止其它js出错
        function debug() {
            console.log.apply(console, arguments);
            let dom = document.getElementById('debug_box');
            dom.style.display = 'block';
            let str = [];

            for (let i = 0; i < arguments.length; i++) {
                let type = Object.prototype.toString.call(arguments[i]).toLowerCase().substr(8).replace(']', '');
                str.push('[' + type + ']' + JSON.stringify(arguments[i]));
            }

            dom.prepend(str.join('\t'), document.createElement('br'));
        }

        window.onerror = function (error, url, line, col) {
            debug.call(window, 'js异常：' + error + ' @ ' + url + ' ' + line + ':' + col);
        };
        // 加载html使用的是file://协议，无法使用<script type="module"，否则将会触发以下错误
        // "Failed to load module script: The server responded with a non-JavaScript MIME type of "".
        // Strict MIME type checking is enforced for module scripts per HTML spec.",
        // source: file:///android_asset/web/index.js?1569008605055 (0)
        // 键盘来的浏览器userAgent添加了自定义标志 SoftKeyboard
        let js = [navigator.userAgent.indexOf('SoftKeyboard') ? 'vue' : 'vue.dev',
            'java', 'kbd-wu_bi', 'kbd-en', 'kbd-quick',
            "speech", 'index'];
        for (let i = 97; i <= 122; i++) js.push('wu_bi_' + String.fromCharCode(i));
        let html = "<link rel='stylesheet' href='index.css?s" + +new Date + "' type='text/css' media='all'/>";
        js.forEach(function (name) {
            html += '<script  src="./' + name + '.js?' + +new Date + '"><\/script>';
        });
        document.write(html);
    </script>
</head>
<body>
<p id="init"><!--方便检查是否加载html-->键盘初始化中...</p>
<code ondblclick="this.innerHTML = '';this.style.display = 'none';" id="debug_box" class="debug_box"></code>
<main id="app" style="display: none;"
      @touchcancel="on_touch_cancel" @touchstart="on_touch_start"
      @touchmove="on_touch_move" @touchend="on_touch_end"
      ondblclick="return false;" oncontextmenu="return false;"
>
    <kbd-en></kbd-en>
    <kbd-wu-bi></kbd-wu-bi>
    <kbd-quick></kbd-quick>
    <speech></speech>
</main>
<script type="text/html">



    <section style="display: none" class="cn">
        <!--中文 http://xahlee.info/comp/unicode_computing_symbols.html-->
        <nav class="candidates disable-gesture">
            <code class="key_codes words selected" @click.stop.prevent="use_candidate(keys)"
                  v-if="keys && !candidates.length">
                <sup>{{keys}}</sup>
                <sub>&nbsp;</sub>
            </code>
            <code :class="{words:1, selected:i < 1}" @click.stop.prevent="use_candidate(t.words)"
                  v-for="(t,i) in candidates">
                <sup>
                    <template v-if="t.keys&&t.keys.length">
                        <small>{{i+1}}</small>
                        <b>{{keys}}</b>{{t.keys.substr(keys.length)}}
                    </template>
                    <template v-else>
                        &nbsp;
                    </template>
                </sup>
                <sub>{{t.words}}</sub>
            </code>
        </nav>

        <template vd-for="(kbd,i) in en_kbd">
            <kbd>
                <b class="kbd-c">·</b>
                <b class="kbd-u">上边</b>
                <b class="kbd-d">下边</b>
                <b class="kbd-l">左边</b>
                <b class="kbd-r">右边</b>
            </kbd>
        </template>
        <kbd @touchstart.stop.prevent
        >
            <b class="kbd-c">㊕</b>
            <b class="kbd-d">㊕</b>
        </kbd>
        <kbd data-text="·">
            <b class="kbd-c">·</b>
            <b class="kbd-u">上边</b>
            <b class="kbd-d">下边</b>
            <b class="kbd-l">左边</b>
            <b class="kbd-r">右边</b>
        </kbd>
        <kbd data-text="、">
            <b class="kbd-c">、</b>
        </kbd>
        <kbd data-text="‘">
            <b class="kbd-c">‘</b>
        </kbd>
        <kbd data-text="’">
            <b class="kbd-c">’</b>
        </kbd>
        <kbd data-text="“">
            <b class="kbd-c">“</b>
        </kbd>
        <kbd data-text="”">
            <b class="kbd-c">”</b>
        </kbd>
        <kbd data-text="（">
            <b class="kbd-c">（</b>
        </kbd>
        <kbd data-text="）">
            <b class="kbd-c">）</b>
        </kbd>
        <kbd data-text="-">
            <b class="kbd-c">-</b>
        </kbd>
        <hr class="new_line"/>
        <kbd data-android="KEYCODE_Q">
            <b class="kbd-c">q</b>
        </kbd>
        <kbd data-android="KEYCODE_W">
            <b class="kbd-c">w</b>
        </kbd>
        <kbd data-android="KEYCODE_E">
            <b class="kbd-c">e</b>
        </kbd>
        <kbd data-android="KEYCODE_R">
            <b class="kbd-c">r</b>
        </kbd>
        <kbd data-android="KEYCODE_T">
            <b class="kbd-c">t</b>
        </kbd>
        <kbd data-android="KEYCODE_Y">
            <b class="kbd-c">y</b>
        </kbd>
        <kbd data-android="KEYCODE_U">
            <b class="kbd-c">u</b>
        </kbd>
        <kbd data-android="KEYCODE_I">
            <b class="kbd-c">i</b>
        </kbd>
        <kbd data-android="KEYCODE_O">
            <b class="kbd-c">o</b>
        </kbd>
        <kbd data-android="KEYCODE_P">
            <b class="kbd-c">p</b>
        </kbd>
        <hr class="new_line"/>
        <kbd data-android="KEYCODE_A">
            <b class="kbd-c">a</b>
        </kbd>
        <kbd data-android="KEYCODE_S">
            <b class="kbd-c">s</b>
        </kbd>
        <kbd data-android="KEYCODE_D">
            <b class="kbd-c">d</b>
        </kbd>
        <kbd data-android="KEYCODE_F">
            <b class="kbd-c">f</b>
        </kbd>
        <kbd data-android="KEYCODE_G">
            <b class="kbd-c">g</b>
        </kbd>
        <kbd data-android="KEYCODE_H">
            <b class="kbd-c">h</b>
        </kbd>
        <kbd data-android="KEYCODE_J">
            <b class="kbd-c">j</b>
        </kbd>
        <kbd data-android="KEYCODE_K">
            <b class="kbd-c">k</b>
        </kbd>
        <kbd data-android="KEYCODE_L">
            <b class="kbd-c">l</b>
        </kbd>
        <hr class="new_line"/>
        <kbd @touchstart.stop.prevent="cn_keyboard_reset">
            <b class="kbd-c">清</b>
        </kbd>
        <kbd data-android="KEYCODE_Z">
            <b class="kbd-c">z</b>
        </kbd>
        <kbd data-android="KEYCODE_X">
            <b class="kbd-c">x</b>
        </kbd>
        <kbd data-android="KEYCODE_C">
            <b class="kbd-c">c</b>
        </kbd>
        <kbd data-android="KEYCODE_V">
            <b class="kbd-c">v</b>
        </kbd>
        <kbd data-android="KEYCODE_B">
            <b class="kbd-c">b</b>
        </kbd>
        <kbd data-android="KEYCODE_N">
            <b class="kbd-c">n</b>
        </kbd>
        <kbd data-android="KEYCODE_M">
            <b class="kbd-c">m</b>
        </kbd>
        <kbd class="two_key" data-android="KEYCODE_DEL">
            <b class="kbd-c">⌫</b>
        </kbd>
        <hr class="new_line"/>
        <kbd data-text="：">
            <b class="kbd-c">：</b>
        </kbd>
        <kbd data-text="？">
            <b class="kbd-c">？</b>
        </kbd>
        <kbd data-text="！">
            <b class="kbd-c">！</b>
        </kbd>
        <kbd data-text="；">
            <b class="kbd-c">；</b>
        </kbd>
        <kbd class="two_key" data-android="KEYCODE_SPACE">
            <b class="kbd-c">␣</b>
        </kbd>
        <kbd class="two_key" data-android="KEYCODE_ENTER">
            <b class="kbd-c">⏎</b>
        </kbd>
        <kbd data-text="。">
            <b class="kbd-c">。</b>
        </kbd>
        <kbd data-text="，">
            <b class="kbd-c">，</b>
        </kbd>
    </section>
    <!--
    <section v-if="keyboard_show_number" class="number">
        数字
        <kbd data-android="KEYCODE_PLUS">
            <b class="kbd-c">+</kbd>
        <kbd data-android="KEYCODE_1">
            <b class="kbd-c">1</kbd>
        <kbd data-android="KEYCODE_2">
            <b class="kbd-c">2</kbd>
        <kbd data-android="KEYCODE_3">
            <b class="kbd-c">3</kbd>
        <kbd data-android="KEYCODE_EQUALS">
            <b class="kbd-c">=</kbd>
        <hr class="new_line"/>
        <kbd data-android="KEYCODE_MINUS">
            <b class="kbd-c">-</kbd>
        <kbd data-android="KEYCODE_4">
            <b class="kbd-c">4</kbd>
        <kbd data-android="KEYCODE_5">
            <b class="kbd-c">5</kbd>
        <kbd data-android="KEYCODE_6">
            <b class="kbd-c">6</kbd>
        <kbd data-android="KEYCODE_DEL">
            <b class="kbd-c">⌫</kbd>
        <hr class="new_line"/>
        <kbd data-android="KEYCODE_STAR">
            <b class="kbd-c">*</kbd>
        <kbd data-android="KEYCODE_7">
            <b class="kbd-c">7</kbd>
        <kbd data-android="KEYCODE_8">
            <b class="kbd-c">8</kbd>
        <kbd data-android="KEYCODE_9">
            <b class="kbd-c">9</kbd>
        <kbd data-android="KEYCODE_ENTER">
            <b class="kbd-c">⏎</kbd>
        <hr class="new_line"/>
        <kbd data-android="KEYCODE_SLASH">
            <b class="kbd-c">/</kbd>
        <kbd data-android="KEYCODE_0">
            <b class="kbd-c">0</kbd>
        <kbd class="two_key" data-android="KEYCODE_SPACE">
            <b class="kbd-c">␣</kbd>
        <kbd data-android="KEYCODE_PERIOD">
            <b class="kbd-c">.</kbd>
    </section>
    <section v-if="keyboard_show_symbol">
        <kbd data-android="⇧KEYCODE_GRAVE">
            <b class="kbd-c">~</kbd>
        <kbd data-android="KEYCODE_GRAVE">
            <b class="kbd-c">`</kbd>
        <kbd data-android="⇧KEYCODE_1">
            <b class="kbd-c">!</kbd>
        <kbd data-android="⇧KEYCODE_2">
            <b class="kbd-c">@</kbd>
        <kbd data-android="⇧KEYCODE_3">
            <b class="kbd-c">#</kbd>
        <kbd data-android="⇧KEYCODE_4">
            <b class="kbd-c">$</kbd>
        <kbd data-android="⇧KEYCODE_5">
            <b class="kbd-c">%</kbd>
        <kbd data-android="⇧KEYCODE_6">
            <b class="kbd-c">^</kbd>
        <kbd data-android="⇧KEYCODE_7">
            <b class="kbd-c">&</kbd>
        <kbd data-android="⇧KEYCODE_8">
            <b class="kbd-c">*</kbd>
        <hr class="new_line"/>
        <kbd data-android="⇧KEYCODE_9">
            <b class="kbd-c">(</kbd>
        <kbd data-android="⇧KEYCODE_0">
            <b class="kbd-c">)</kbd>
        <kbd data-android="KEYCODE_MINUS">
            <b class="kbd-c">-</kbd>
        <kbd data-android="⇧KEYCODE_MINUS">
            <b class="kbd-c">_</kbd>
        <kbd data-android="KEYCODE_EQUALS">
            <b class="kbd-c">=</kbd>
        <kbd data-android="KEYCODE_PLUS">
            <b class="kbd-c">+</kbd>
        <kbd data-android="KEYCODE_LEFT_BRACKET">
            <b class="kbd-c">[</kbd>
        <kbd data-android="KEYCODE_RIGHT_BRACKET">
            <b class="kbd-c">]</kbd>
        <kbd data-android="⇧KEYCODE_LEFT_BRACKET">
            <b class="kbd-c">{</kbd>
        <kbd data-android="⇧KEYCODE_RIGHT_BRACKET">
            <b class="kbd-c">}</kbd>
        <hr class="new_line"/>
        <kbd data-android="KEYCODE_BACKSLASH">
            <b class="kbd-c">\</kbd>
        <kbd data-android="⇧KEYCODE_BACKSLASH">
            <b class="kbd-c">|</kbd>
        <kbd data-android="KEYCODE_SEMICOLON">
            <b class="kbd-c">;</kbd>
        <kbd data-android="⇧KEYCODE_SEMICOLON">
            <b class="kbd-c">:</kbd>
        <kbd data-android="KEYCODE_APOSTROPHE">
            <b class="kbd-c">'</kbd>
        <kbd data-android="⇧KEYCODE_APOSTROPHE">
            <b class="kbd-c">"</kbd>
        <kbd data-android="KEYCODE_COMMA">
            <b class="kbd-c">,</kbd>
        <kbd data-android="⇧KEYCODE_COMMA">
            <b class="kbd-c">&lt;</kbd>
        <kbd data-android="KEYCODE_PERIOD">
            <b class="kbd-c">.</kbd>
        <kbd data-android="⇧KEYCODE_PERIOD">
            <b class="kbd-c">&gt;</kbd>
        <hr class="new_line"/>
        <kbd data-android="KEYCODE_SLASH">
            <b class="kbd-c">/</kbd>
        <kbd data-android="⇧KEYCODE_SLASH">
            <b class="kbd-c">?</kbd>
        <kbd class="two_key" data-android="KEYCODE_SPACE">
            <b class="kbd-c">␣</kbd>
        <kbd class="two_key" data-android="KEYCODE_ENTER">
            <b class="kbd-c">⏎</kbd>
        <kbd data-android="KEYCODE_DEL">
            <b class="kbd-c">⌫</kbd>
    </section>
        -->

    <section style="display: none">
        <!--英文


        <kbd data-android="KEYCODE_F2">
            <b class="kbd-c">f2</b>
        </kbd>
        <kbd data-android="KEYCODE_F3">
            <b class="kbd-c">f3</kbd>
        <kbd data-android="KEYCODE_F4">
            <b class="kbd-c">f4</kbd>
        <kbd data-android="KEYCODE_F5">
            <b class="kbd-c">f5</kbd>
        <kbd data-android="KEYCODE_F6">
            <b class="kbd-c">f6</kbd>
        <kbd data-android="KEYCODE_F7">
            <b class="kbd-c">f7</kbd>
        <kbd data-android="KEYCODE_F8">
            <b class="kbd-c">f8</kbd>
        <kbd data-android="KEYCODE_F9">f9</kbd>
        <kbd data-android="KEYCODE_F10">f10</kbd>
        <hr class="new_line"/>
        <kbd data-android="KEYCODE_F11">f11</kbd>
        <kbd data-android="KEYCODE_F12">f12</kbd>
        <kbd class="{key:1,hold_key:meta_down}" data-android="KEYCODE_META_LEFT">⌘</kbd>
        <kbd @touchstart.stop.prevent="deploy">部署</kbd>
        <kbd data-android="KEYCODE_FORWARD_DEL">⌦</kbd>
-->
        <kbd data-android="KEYCODE_TAB">
            <b class="kbd-c">⇥</b>
        </kbd>
        <kbd data-android="KEYCODE_ESCAPE">
            <b class="kbd-c">⎋</b>
        </kbd>
        <kbd data-android="KEYCODE_MOVE_HOME">
            <b class="kbd-c">Home</b>
        </kbd>
        <kbd data-android="KEYCODE_MOVE_END">
            <b class="kbd-c">End</b>
        </kbd>
        <kbd data-android="KEYCODE_PAGE_UP">
            <b class="kbd-c">⇞</b>
        </kbd>
        <kbd data-android="KEYCODE_PAGE_DOWN">
            <b class="kbd-c">⇟</b>
        </kbd>
        <kbd data-android="KEYCODE_DPAD_LEFT">
            <b class="kbd-c">←</b>
        </kbd>
        <kbd data-android="KEYCODE_DPAD_RIGHT">
            <b class="kbd-c">→</b>
        </kbd>
        <kbd data-android="KEYCODE_DPAD_UP">
            <b class="kbd-c">↑</b>
        </kbd>
        <kbd data-android="KEYCODE_DPAD_DOWN">
            <b class="kbd-c">↓</b>
        </kbd>
        <hr class="new_line"/>
        <kbd data-android="KEYCODE_Q">
            <b class="kbd-c">{{shift_toggle_text('q')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_W">
            <b class="kbd-c">{{shift_toggle_text('w')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_E">
            <b class="kbd-c">{{shift_toggle_text('e')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_R">
            <b class="kbd-c">{{shift_toggle_text('r')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_T">
            <b class="kbd-c">{{shift_toggle_text('t')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_Y">
            <b class="kbd-c">{{shift_toggle_text('y')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_U">
            <b class="kbd-c">{{shift_toggle_text('u')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_I">
            <b class="kbd-c">{{shift_toggle_text('i')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_O">
            <b class="kbd-c">{{shift_toggle_text('o')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_P">
            <b class="kbd-c">{{shift_toggle_text('p')}}</b>
        </kbd>
        <hr class="new_line"/>
        <kbd data-android="KEYCODE_A">
            <b class="kbd-c">{{shift_toggle_text('a')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_S">
            <b class="kbd-c">{{shift_toggle_text('s')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_D">
            <b class="kbd-c">{{shift_toggle_text('d')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_F">
            <b class="kbd-c">{{shift_toggle_text('f')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_G">
            <b class="kbd-c">{{shift_toggle_text('g')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_H">
            <b class="kbd-c">{{shift_toggle_text('h')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_J">
            <b class="kbd-c">{{shift_toggle_text('j')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_K">
            <b class="kbd-c">{{shift_toggle_text('k')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_L">
            <b class="kbd-c">{{shift_toggle_text('l')}}</b>
        </kbd>
        <hr class="new_line"/>
        <kbd :class="{key:1,hold_key:shift_down}" data-android="KEYCODE_SHIFT_LEFT">
            <b class="kbd-c">⇧</b>
        </kbd>
        <kbd data-android="KEYCODE_Z">
            <b class="kbd-c">{{shift_toggle_text('z')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_X">
            <b class="kbd-c">{{shift_toggle_text('x')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_C">
            <b class="kbd-c">{{shift_toggle_text('c')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_V">
            <b class="kbd-c">{{shift_toggle_text('v')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_B">
            <b class="kbd-c">{{shift_toggle_text('b')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_N">
            <b class="kbd-c">{{shift_toggle_text('n')}}</b>
        </kbd>
        <kbd data-android="KEYCODE_M">
            <b class="kbd-c">{{shift_toggle_text('m')}}</b>
        </kbd>
        <kbd class="two_key" data-android="KEYCODE_DEL">
            <b class="kbd-c">⌫</b>
        </kbd>
        <hr class="new_line"/>
        <kbd data-android="^KEYCODE_A">
            <b class="kbd-c">全选</b>
        </kbd>
        <kbd data-android="^KEYCODE_C">
            <b class="kbd-c"><!--安卓自带的KEYCODE_COPY有些app并不兼容，所以还是用组合键吧-->复</b>
        </kbd>
        <kbd data-android="^KEYCODE_V">
            <b class="kbd-c">贴</b>
        </kbd>
        <kbd data-android="^KEYCODE_X">
            <b class="kbd-c">剪</b>
        </kbd>
        <kbd class="two_key" data-android="KEYCODE_SPACE">
            <b class="kbd-c">␣</b>
        </kbd>
        <kbd class="two_key" data-android="KEYCODE_ENTER">
            <b class="kbd-c">⏎</b>
        </kbd>
        <kbd :class="{key:1,hold_key:alt_down}" data-android="KEYCODE_ALT_LEFT">
            <b class="kbd-c">⌥</b>
        </kbd>
        <kbd :class="{key:1,hold_key:ctrl_down}" data-android="KEYCODE_CTRL_LEFT">
            <b class="kbd-c">Ctrl</b>
        </kbd>

    </section>

</script>
</body>
</html>