/*@font-face TODO 在安卓24模拟器上可以加载，但是在27或以上都不能加载*/
/*@font-face {
    font-family: "Menlo Bold";
    src: url("./Menlo-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Menlo Bold Italic";
    src: url("./Menlo-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Menlo Italic";
    src: url("./Menlo-Italic.ttf") format("truetype");
}
*/
@font-face {
    font-family: "menlo";
    src: url('./Menlo-Regular.ttf') /*format("truetype")*/;
    font-weight: normal;
}

html, body {
    display: block;
    width: 100%;
    /*注意当前高度为由内容顶起来的，所以，不能设置％比。可以使用固定的px值*/
    height: auto;
    overflow: auto;
    padding: 0;
    margin: 0;
    background: transparent;
}

* {
    box-sizing: border-box;
}

html {
    background: black;
    /*如果不设置背景色，就能透明看到窗口后面内容*/
    font-size: 62.5%;
}

body {
    /*在某些版本的案卓高度为0*/
    min-height: 2rem;
    font-family: menlo, monospace;
    display: block;
    font-size: 0; /*与block配合，忽略html中空格*/
    background-color: rgba(0, 0, 0, 0.1);
    /*禁用选择文字，防止长按触发，会中断touch事件*/
    user-select: none;

}

main {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 200px;
    position: relative;
}

kbd.is_en_1 {
    text-transform: lowercase;
}

kbd.is_en_0 {
    text-transform: uppercase;
}

kbd.kbd {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    text-align: center;
    white-space: normal;
    /*
    达成123456编写顺序按
    654
    321
    来显示
    */
    flex-wrap: wrap; /*遇右边换行,且上下倒过来,编写顺序首个会放在右下角*/
    /*flex-direction: row-reverse; !*起点在右侧*!*/
    justify-content: flex-end; /*按剩余空间平分*/
}

kbd.kbd > kbd.keys {
    background-color: rgba(255,255,255,0.1);
    color: white;
    border-radius: 0px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    height: 5rem;
    width: 10vw;
    display: inline-block;
    padding: 0px;
    margin: 0;
    border: 1px dotted darkgray;
}

kbd.kbd > kbd.kbd_150 {
    /*9.1/2+9/100/11+9.1*/
    width: 15vw;
}

kbd.kbd > kbd.kbd_15 {
    /*9.1/2+9/100/11+9.1*/
    width: 15vw;
}

kbd.kbd > kbd.kbd_20 {
    /*9.1/2+9/100/11+9.1*/
    width: 20vw;
}

kbd.kbd > kbd.kbd_a_margin_left {
    background-color: red;
    width: 1vw;
}

kbd.kbd > kbd.kbd_l_margin_right {
    width: 9vw;
}

kbd.kbd > kbd.kbd_z_margin_left {
    background-color: red;
    width: 5vw;
}

kbd.kbd > kbd.kbd_f {
    background-color: #bb86fc;
}

kbd.kbd > kbd.kbd_j {
    background-color: #bb86fc;
}

kbd.kbd > kbd.keys > kbd {
    font-style: normal;
    font-weight: lighter;
    position: absolute;
    text-align: center;
    word-break: break-all;
}

kbd.kbd > kbd.keys > kbd.c {
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1rem;
    width: 0.9rem;
    top: 50%; /*相对父元素*/
    left: 50%;
    transform: translate(-50%, -50%); /*相对于本身，margin相对父元素*/
}

kbd.kbd > kbd.keys > kbd.u {
    top: 1px;
    left: 0;
    width: 100%;
    font-size: 0.8rem;
}

kbd.kbd > kbd.keys > kbd.r {
    top: 50%;
    right: 1px;
    font-size: 0.9rem;
    line-height: 0.9rem;
    width: 0.8rem;
    transform: translateY(-50%);
}

kbd.kbd > kbd.keys > kbd.d {
    bottom: 1px;
    left: 0;
    width: 100%;
    font-size: 0.8rem;
}

kbd.kbd > kbd.keys > kbd.l {
    top: 50%;
    left: 1px;
    line-height: 0.9rem;
    font-size: 0.8rem;
    width: 0.8rem;
    transform: translateY(-50%);
}

@keyframes hold_key {
    0% {
        background-color: black;
        color: white;
        padding: 2px
    }
    100% {
        background-color: white;
        color: blue;
        padding: 2px
    }
}

kbd.hold_key {
    animation: hold_key 1s infinite;
}

@media only screen and (min-width: 800px) {
    /*横屏时要调整一下高度，目前未找到webview的媒体查询方向切换不起作用的原因，但是使用大小却有效*/
    section kbd, section.number kbd {
        line-height: 3rem;
        height: 3rem;
    }
}

header.candidates {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: left;
    height: 3rem;
    margin-bottom: 5px;
}

header.candidates samp {
    margin: 0 5px;
    background-color: white;
    display: inline-block;
    padding: 1px 2px;
    border-radius: 2px;
    text-align: left;
    min-width: 3rem;
}

header.candidates samp sup {
    display: block;
    font-size: 1rem;
}

header.candidates samp sub {
    display: block;
    font-size: 1.2rem;
}

header.candidates .selected {
    background-color: cornsilk;
}

header, footer {
    width: 100%;
}

textarea {
    user-select: unset;
    width: 100%;
    height: 100px;
    border: 0;
    display: block;
    outline: none;
    margin: 0;
    padding: 10px;
    line-height: 150%;
    white-space: nowrap;
}

button.btn {
    border: 1px solid black;
    margin: 20px 10px;
    background: white;
}

button.cancel {
    color: red;
    border-color: red;
}

button.apply {
    color: green;
    border-color: green;
}

.debug_box {
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid lightgrey;
    display: none;
    max-height: 100px;
    font-size: 1rem;
    text-align: left;
    padding: 10px;
    background-color: mintcream;
    line-height: 150%;
    white-space: nowrap;
}

#init {
    font-size: 1rem;
    padding: 10px;
    color: black;
    background-color: lightgrey;
    text-align: center;
}

.vue_speech {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

kbd.vue_en {
    z-index: 0;
}

kbd.vue_quick .editor_box {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

kbd.vue_quick {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    flex-direction: unset;
}

kbd.vue_wu_bi {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hide {
    display: none;
}
